* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}
body { 
    background-color: #252323;
}
.container {
    width: 100%;
    height: 100vh;
}

/* Apartado General del Header */
header {
    width: 100%;
    padding: 30px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    transition: background-color 0.5s ease, color 0.5s ease;
}
header .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar .sections {
    width: 35%;
}

/* Apartado del Logo */
.navbar .logo a {
    text-decoration: none;
}
.navbar .logo h3 {
    font-family: "Outfit", serif;
    font-weight: 400;
    font-size: 25px;
    color: #a99985;
}

/* Apartado de las Secciones de la Barra de Navegacion */
.navbar .lista {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.navbar .lista .section a {
    text-decoration: none;
    color: #a99985;
    font-family: "Nunito Sans", serif;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    transition: 0.25s all ease;
    padding: 0 5px;
}
.navbar .lista .section a:hover {
    color: #f5f1ed;
}

/* Apartado de mis Redes Sociales */
.navbar .social-media a {
    color: #a99985;
    cursor: pointer;
    transition: 0.25s all ease;
}
.navbar .social-media a:hover {
    color: #f5f1ed;
}
.navbar .social-media {
    width: 15%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

/* Apartado de Home */
.portfolio-content .section-Home {
    width: 100%;
    height: 100vh;
}
.portfolio-content .section-Home hr {
    width: 90%;
    height: 1px;
    margin: 0 auto;
    background-color: #70798c;
    border: #70798c;
}
.portfolio-content .section-Home .content-Home {
    display: flex;
}

/* Contenido del Apartado de Home */
.content-Home {
    width: 100%;
}

/* Apartado de Introduccion */
.content-Home .introduction {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 150px;
    position: relative;
    top: 50px;
}
.content-Home .introduction .profesion {
    color: #70798c;
    text-align: center;
    font-family: "Outfit", serif;
    font-size: 50px;
    font-weight: 700;
    margin: -10px 0;
}
.content-Home .introduction .name {
    color: #a99985;
    text-align: center;
    font-family: "Outfit", serif;
    font-size: 40px;
    font-weight: 700;
    border-bottom: 1px solid #f5f1ed;
    padding: 0 0 20px 0;
}
.content-Home .introduction .description {
    width: 80%;
    padding: 25px 10px;
    margin: 0 auto;
    color: #f5f1ed;
    font-family: "Outfit", serif;
    font-weight: 400;
    font-size: 16px;
}
.content-Home .introduction .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-Home .introduction .info i {
    padding: 0 5px 0 0;
}
.content-Home .introduction .info .email a {
    text-decoration: none;
    color: #a99985;
    font-family: "Outfit", serif;
    font-size: 16px;
    font-weight: 700;
}
.content-Home .btn-download i {
    padding: 0 5px 0 0;
}
.content-Home .btn-download {
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #a99985;
    font-family: "Nunito Sans", serif;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid #a99985;
    cursor: pointer;
    transition: 0.25s all ease;
}
.content-Home .btn-download:hover {
    background-color: #a99985;
    color: #252323;
}

/* Apartado de About Me */
.portfolio-content .section-About-me {
    width: 100%;
    height: 100vh;
    background-color: #70798c;
}

/* Cambio del Color del Texto que se encuentra dentro del Header  */
header.home .navbar .logo h3,
header.home .navbar .social-media a,
header.home .navbar .lista .section a {
    color: #a99985;
}
header.home .navbar .social-media a:hover,
header.home .navbar .lista .section a:hover {
    color: #f5f1ed;
}

header.about-me .navbar .logo h3,
header.about-me .navbar .social-media a,
header.about-me .navbar .lista .section a {
    font-weight: 700;
    color: #252323;
}
header.about-me .navbar .social-media a:hover,
header.about-me .navbar .lista .section a:hover {
    color: #f5f1ed;
}
